.button {
    background-color: var(--cor-header);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 24px 32px;
    border: none;
    color: var(--cor-second-text);
    margin: 32px auto;
    cursor: pointer;
    display: block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.button:hover {
    color: var(--cor-hover-btn);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 12px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
}

