.button {
    background-color: var(--cor-header);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 24px 32px;
    border: none;
    color: var(--cor-second-text);
    margin: 32px auto;
    cursor: pointer;
    display: block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease;
}

.button:hover {
    color: var(--cor-hover-btn);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
}

